<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .content-wrapper {
            flex: 1 0 auto;
            min-height: 50vh; /* Ensures minimum height for content */
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
    {% include 'head.html' %}
</head>

<body>
    {% include 'header.html' %}

    <div class="content-wrapper">
        <main>
            {% block content %}
            
            {% endblock content %}
        </main>
    </div>

    {% include 'footer.html' %}
    {% include 'scripts.html' %}
</body>
</html>