{% extends 'base.html'  %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
</head>

<div class="content container-fluid">
    <div class="page-header">
       <div class="row">
          <div class="col-sm-12">
             <h3 class="page-title">Welcome Doctor {{ user.first_name }} {{ user.last_name }}!</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-one w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-file"></i>
                   </div>
                   <div class="db-info">
                      <h3>{{allaptcount}}</h3>
                      <h6>All Appointment</h6>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-two w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-file"></i>
                   </div>
                   <div class="db-info">
                      <h3>{{newaptcount}}</h3>
                      <a href=""><h6>New Appointment</h6></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-four w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-file"></i>
                   </div>
                   <div class="db-info">
                     <h3>{{appaptcount}}</h3>
                     <a href=""><h6>Approved Appointment</h6></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
          <div class="card bg-three w-100">
             <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                   <div class="db-icon">
                      <i class="fas fa-file"></i>
                   </div>
                   <div class="db-info">
                     <h3>{{canaptcount}}</h3>
                     <a href=""><h6>Cancelled Appointment</h6></a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-xl-4 col-sm-6 col-12 d-flex">
         <div class="card bg-four w-100">
            <div class="card-body">
               <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon">
                     <i class="fas fa-file"></i>
                  </div>
                  <div class="db-info">
                     <h3>{{patcount}}</h3>
                     <a href=""><h6>Total Patients</h6></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
  <footer>
    
  </footer>
    
 </div>

 <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
 <script src="{% static 'assets/js/popper.min.js'%}"></script>
 <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
 <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
 <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js'%}"></script>
 <script src="{% static 'assets/plugins/apexchart/chart-data.js'%}"></script>
 <script src="{% static 'assets/js/script.js'%}"></script>
{% endblock content %}
